# Environment variables
.env
.env.*
.terraform
.terraform.*
config/*
terraform.*

# API keys / secrets
secrets.json
config/private.key
.env/opentofu-cred.json

# Node modules (example)

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
